#todo-app-wrapper {
  height: 100vh;
  padding: 1rem;
}

h1 {
  color: var(--main-txt-color);
  font-weight: bold;
  font-size: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-todo {
  width: 60%;
  margin-top: 1rem;
  padding: 10px;
  flex-grow: 1;
  background-color: rgba(253, 253, 253, 0.8);
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3),
    /* Ombra direzionale */ 0px 6px 20px rgba(0, 0, 0, 0.5); /* Ombra ambientale più ampia */
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--add-todo-gap);
}

.input-field {
  flex-grow: 1;
  padding: var(--main-padding);
  color: var(--main-bg-color);
  background-color: var(--secondary-bg-color);
  border-radius: var(--secondary-border-radius);
  display: flex;
  gap: var(--small-gap);
  margin-bottom: var(--space-input-error);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    /* Ombra direzionale */ 0px 1px 2px rgba(0, 0, 0, 0.24); /* Ombra ambientale */
}

.input-field input[type="text"] {
  outline: none;
  border: 0;
  flex-grow: 1;
  background-color: transparent;
  font-size: var(--input-font-size);
}

.add-todo .button-container {
  display: flex;
  gap: var(--small-gap);
}

.error-message {
  font-size: var(--error-font-size);
  color: var(--danger-color);
  font-weight: bold;
}

.todos-container {
  height: 600px;
  width: 100%;
  padding: var(--main-padding);
  border-radius: var(--border-radius);
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3),
    /* Ombra direzionale */ 0px 6px 20px rgba(0, 0, 0, 0.5); /* Ombra ambientale più ampia */
  overflow: scroll;
}
