button {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  align-items: center;
  color: var(--main-txt-color);
  font-weight: 600;
  transition: background-color 0.3s linear;
  border: 0;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

button.button-success {
  background-color: var(--success-color);
}

button.button-success:hover {
  background-color: rgba(25, 135, 84, 0.8);
}

button.button-warning {
  background-color: var(--warning-color);
}

button.button-warning:hover {
  background-color: rgba(255, 193, 7, 0.8);
}

button.button-danger {
  background-color: var(--danger-color);
}

button.button-danger:hover {
  background-color: rgba(220, 53, 69, 0.8);
}
